* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}

#container {
  width: 1200px;
  margin: 20px auto; /*중앙에 배치*/
}

#header {
  width: 100%;
  height: 120px;
  background-color: #acacac;
}

#left-sider {
  width: 250px;
  height: 600px;
  background-color: #e9e9e9;
  float: left;
}

#contents {
  width: 800px;
  height: 600px;
  background-color: aliceblue;
  float: left;
}

#right-sider {
  width: 150px;
  height: 600px;
  background-color: #e9e9e9;
  float: right;
}

#footer {
  width: 100%;
  height: 100px;
  background-color: #222;
  clear: both;
}